.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .photo-grid {
    grid-template-columns: repeat(3, minmax(200px, 300px));
    gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 768px) {
  .photo-grid {
    grid-template-columns: repeat(2, minmax(150px, 352px));
    gap: 16px;
    max-width: 720px;
  }
}

@media screen and (max-width: 320px) {
  .photo-grid {
    grid-template-columns: repeat(1, minmax(200px, 300px));
    gap: 12px;
    max-width: 288px;
  }
}
