.main__cover {
  margin-top: 92px;
}

@media screen and (max-width: 768px) {
  .main__cover {
    margin-top: 68px;
  }
}

@media screen and (max-width: 700px) {
  .main__cover {
    margin-top: 40px;
  }
}
