.main {
  font-family: 'Inter', sans-serif;
  max-width: 100vw;
  min-width: 320px;
  background: #2a2c2f;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}
