.lead__overlay-container{
display: grid;
<<<<<<< HEAD
grid-template-columns: 37px 1fr 1fr 23px ;
=======
grid-template-columns: 37px 1fr 1fr 1fr 23px ;
>>>>>>> 68e08ace3d8cd07212cc79eb4e9b1b788fe236a4
grid-template-rows: repeat(12, 1fr);
max-width: 984px;
max-height: 615px;
background-image: url('../../../images/lead__image.jpg');
}