.lead__subtitle{
  margin: 32px 0 64px;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
  max-width: 640px;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .lead__subtitle{
    margin: 32px 0 56px;
  }
}

@media screen and (max-width: 700px) {
  .lead__subtitle{
    margin: 16px 0 40px;
    font-size: 16px;
    max-width: 288px;
  }
}
