.place__url-heading {
  margin: 0 0 12px;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 2px;
}

@media screen and (max-width: 700px) {
  .place__url-heading {
    margin: 32px 0 12px 0;
  }
}
